# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Ignore IIDEAA src code for now
iidea-install/
VPA_fft/
build/
black_scholes/
k-means/
test/

#script
dockerScript.sh
dockerCleanup.sh

#Chimera ouptput folder
*/clang-chimera/output
